%li= link_to_unless_current_action "List pending", pending_messages_path
%li= link_to_unless_current_action "List delivered", delivered_messages_path
%li= link_to_unless_current_action "List deleted", deleted_messages_path
%li= link_to_unless_current_action "New", new_message_path
