= will_paginate @messages

%ul
  - @messages.each do |message|
    %li
      %dl
        %dt Recipients
        %dd
          - message.telephone_numbers.each do |telephone_number|
            = link_to_telephone_number(telephone_number)
        %dt Content
        %dd= link_to truncate(message.content), message_path(message)
