- content_for :menu do
  = menu_item "New", new_message_path

- form_for @message do |f|
  = render :partial => "form", :locals => { :f => f }
  %fieldset.buttons
    = submit_tag "Send"
    or
    = link_to "Back", messages_path
