%table
  %tr
    %th Number
  - @telephone_numbers.each do |telephone_number|
    %tr
      %td= link_to telephone_number.number, telephone_number_path(telephone_number)

#actions
  = will_paginate @telephone_numbers
