%h1 Listing telephone numbers

%ul
  - @telephone_numbers.each do |telephone_number|
    %li
      %dl
        %dt Number
        %dd= link_to telephone_number.number, telephone_number_path(telephone_number)

= will_paginate @telephone_numbers
