%dl
  %dt Name
  %dd= orange_multi_box.name
  %dt Type
  %dd= orange_multi_box.class.to_s.titleize
  %dt Login
  %dd= orange_multi_box.login
  %dt Free messages remaining
  %dd= orange_multi_box.amount
