%li= link_to_unless_current_action "Show", contact_path(@contact)
%li= link_to_unless_current_action "Edit", edit_contact_path(@contact)
%li= link_to_unless_current_action "Delete", delete_contact_path(@contact)
