- content_for :menu do
  = render :partial => "menu"

%h2 Listing contacts

= will_paginate @contacts

%ul
  - @contacts.each do |contact|
    %li
      %dl
        %dt Name
        %dd= link_to contact.name, contact_path(contact)
        %dt Telephone number
        %dd= link_to contact.telephone_number.number, telephone_number_path(contact.telephone_number)



