%h1 Editing gateway

- form_for :gateway, :url => gateway_path(@gateway), :html => { :method => :put } do |f|
  = render :partial => "#{@gateway.class.to_s.tableize}/form", :locals => { :f => f }
  = submit_tag "Update"
