- content_for :menu do
  = menu_item "New", new_gateway_path

%table
  %tr
    %th Name
    %th Type
  - @gateways.each do |gateway|
    %tr
      %td= link_to gateway.name, gateway_path(gateway)
      %td= gateway.class.to_s.titleize

= will_paginate @gateways
